.un {
    border: 2px, solid blue;
    color: blue;
}

.deux {
    border: 2px, solid green;
    color: green;
}

.tres {
    border: 2px, solid tan;
    color: tan;
}

.four {
    border: 2px, solid crimson;
    color: crimson;
}